{% extends "base.html" %}
{% block content %}
<h2>Registrar Partido</h2>

<form method="post" action="/partidos/nuevo">

    <label>Fecha:</label>
    <input type="date" name="fecha" required><br>

    <label>Rival:</label>
    <input name="rival" required><br>

    <label>¿Es local?</label>
    <select name="es_local">
        <option value="true">Sí</option>
        <option value="false">No</option>
    </select><br>

    <label>Goles Sigomota:</label>
    <input type="number" name="goles_sigomota" value="0" min="0"><br>

    <label>Goles Rival:</label>
    <input type="number" name="goles_rival" value="0" min="0"><br>

    <button type="submit">Guardar</button>

</form>
{% endblock %}
